@page
@model ExchangeServer.Pages.Labels.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Label[0].ShippingType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Label[0].ShippingId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Label[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Label[0].Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Label[0].CreateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Label) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateTime)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.LabelId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.LabelId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.LabelId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
